Repository SSAFYnity/Job-Preparation-Challenge-1st, pull requests merged in 2024-07, with the labels that each got.

#24 #1 solved 이중우선순위큐
  Programmers/이중우선순위큐/이중우선순위큐_강민정.java
Labels: Java, Easy

#75 #2 solved 수식최대화
  Programmers/수식최대화/수식최대화_강민정.java
Labels: Java, Nomal

#80 #3 solved 이모티콘할인행사
  Programmers/이모티콘할인행사/이모티콘할인행사_강민정.java
Labels: Java, Easy

#11 #6 solved 붕대감기
  Programmers/붕대감기/붕대감기_김성훈.java
Labels: Java, Easy

#44 #1 solved 이중우선순위큐
  Programmers/이중우선순위큐/이중우선순위큐_김성훈.java
Labels: Java, Nomal

#167 #5 solved 길찾기
  SWEA/길찾기/길찾기_김성훈.java
Labels: Java, Easy

#122 #4 solved 바이러스백신
  CodeTree/바이러스백신/바이러스백신_강민정.java
Labels: Java, Nomal

#153 #5 solved 길찾기
  SWEA/길찾기/길찾기_강민정.java
Labels: Java, Easy

#180 #6 solved 붕대감기
  Programmers/붕대감기/붕대감기_강민정.java
Labels: Java, Easy

#90 #7 solved 암호생성기
  SWEA/암호생성기/암호생성기_이준서.java
Labels: Java, Easy

#145 #6 solved 붕대 감기
  Programmers/붕대 감기/붕대 감기_이준서.java
Labels: Java, Easy

#172 #5 solved 길찾기
  Programmers/이중우선순위큐/이중우선순위큐_이준서.java
  SWEA/길찾기/길찾기_이준서.java
Labels: Java, Easy

#186 #3 solved 이모티콘 할인행사
  Programmers/이모티콘 할인행사/이모티콘 할인행사_이준서.java
Labels: Java, Nomal

#9 [240715] 붕대감기
  Programmers/붕대감기/붕대감기_서민주.py
Labels: Python, Easy

#79 #1 solved 이중우선순위큐
  Programmers/이중우선순위큐/이중우선순위큐_서민주.py
Labels: Python, Nomal

#128 #7 solved 암호생성기
  SWEA/암호생성기/암호생성기_서민주.py
Labels: Python, Easy

#154 #4 solved 바이러스백신
  CodeTree/바이러스백신/바이러스백신_서민주.py
Labels: Python, Hard

#19 #6 solved 붕대감기
  Programmers/붕대감기/붕대감기_김지연.py
Labels: Python, Easy

#10 #5 solved 길찾기
  SWEA/길찾기/길찾기_이재민.py
Labels: Python, Easy

#71 #6 solved 붕대감기
  Programmers/붕대감기/붕대감기_이재민.py
Labels: Python, Easy

#155 #3 solved 이모티콘할인행사
  Programmers/이모티콘할인행사/이모티콘할인행사_이재민.py
Labels: Python, Nomal

#129 #1 solved 이중우선순위큐
  Programmers/이중우선순위큐/이중우선순위큐_이재민.py
Labels: Python, Nomal

#91 #7 solved 암호생성기
  SWEA/암호생성기/암호생성기_이재민.py
Labels: Python, Easy

#171 #5 solved 길찾기
  SWEA/길찾기/길찾기_최부광.java
Labels: Java, Easy

#13 #5 solved 길찾기
  SWEA/길찾기/길찾기_손효민.java
Labels: Java, Nomal

#55 #1 solved 이중우선순위큐
  Programmers/이중우선순위큐/이중우선순위큐_손효민.java
Labels: Java, Nomal

#142 #7 solved 암호생성기
  SWEA/암호생성기/암호생성기_최부광.java
Labels: Java, Easy

#100 #6 solved 붕대감기
  Programmers/붕대감기/붕대감기_손효민.java
Labels: Java, Easy

#126 #2 solved 수식 최대화
  Programmers/수식최대화/수식최대화_손효민.java
Labels: Java, Nomal

#187 #1 이중우선순위큐
  Programmers/이중우선순위큐/이중우선순위큐_최지수.java
Labels: Java, Easy

#118 #2 solved 수식 최대화
  CodeTree/수식 최대화/수식 최대화.java
Labels: Java, Easy

#160 #3 solved 이모티콘할인행사
  Programmers/이모티콘할인행사/이모티콘할인행사_최지수.java
Labels: Java, Easy

#177 #4 solved 바이러스백신
  CodeTree/바이러스백신/바이러스백신_최지수.java
Labels: Java, Nomal

#85 #5 solved 길찾기
  SWEA/길찾기/길찾기_최지수.java
Labels: Java, Easy

#56 #6 solved 붕대감기
  Programmers/붕대감기/붕대감기_최지수.java
Labels: Java, Easy

#14 #7 solved 암호생성기
  SWEA/암호생성기/암호생성기_최지수.java
Labels: Java, Easy

#18 #7 solved 암호생성기
  SWEA/암호생성기/암호생성기_이승헌.java
Labels: Java, Easy

#66 #5 solved 길찾기
  SWEA/길찾기/길찾기2_이승헌.java
  SWEA/길찾기/길찾기_이승헌.java
Labels: Java, Easy

#108 #1 solved 이중우선순위큐
  Programmers/이중우선순위큐/이중우선순위큐_이승헌.java
Labels: Java, Easy

#133 #2 solved 수식최대화
  Programmers/수식최대화/수식최대화_이승헌.java
Labels: Java, Nomal

#158 #3 solved 이모티콘할인행사
  Programmers/이모티콘할인행사/이모티콘할인행사_이승헌.java
Labels: Java, Nomal

#182 #6 solved 붕대감기
  Programmers/붕대감기/붕대감기_이승헌.java
Labels: Java, Easy

#161 #7 solved 암호생성기
  SWEA/암호생성기/암호생성기_손효민.java
Labels: Java, Easy

#49 240716 최민준
  Programmers/이중우선순위큐/이중우선순위큐_최민준.java
Labels: Java

#27 #7 solved 암호생성기
  SWEA/암호생성기/암호생성기_최민준.java
Labels: Java, Easy

#132 #2 solved 수식최대화
  Programmers/수식최대화/수식최대화_최민준.java
Labels: Java, Nomal

#146 #6 solved 붕대감기
  Programmers/붕대감기/붕대감기_최민준.java
Labels: Java, Easy

#175 #5 solved 길찾기
  SWEA/길찾기/길찾기_최민준.java
Labels: Java, Nomal

#32 #6 solved 붕대감기
  Programmers/붕대감기/붕대감기_조은영.cpp
  SWEA/암호생성기/암호생성기_조은영.cpp
Labels: C++, Easy

#50 #5 solved 길찾기
  SWEA/길찾기/길찾기_조은영.cpp
Labels: C++, Nomal

#106 #1 solved 이중우선순위큐
  SWEA/이중우선순위큐/조은영_이중우선순위큐.cpp
Labels: C++, Easy

#134 #3 solved 이모티콘할인행사
  Programmers/이모티콘할인행사/이모티콘할인행사_조은영.cpp
Labels: C++, Nomal

#12 #1 solved 이중우선순위큐
  Programmers/이중우선순위큐/이중우선순위큐_조인화.py
Labels: Python, Nomal

#51 #2 solved 수식 최대화
  Programmers/수식 최대화/수식 최대화_조인화.py
Labels: Python, Nomal

#84 #3 solved 이모티콘 할인행사
  Programmers/이모티콘 할인행사/이모티콘 할인행사_조인화.py
Labels: Python, Nomal

#152 #5 solved 길찾기
  SWEA/길찾기/길찾기_조인화.py
Labels: Python, Nomal

#185 #7 solved 암호생성기
  SWEA/암호생성기/암호생성기_강민정.java
Labels: Java, Easy

#81 #6 solved 붕대감기
  Programmers/붕대감기/붕대감기_이호찬.java
Labels: Java, Easy

#114 #4 solved 바이러스백신
  CodeTree/바이러스백신/바이러스백신_이호찬.java
Labels: Java, Nomal, Hard

#148 #1 solved 이중우선순위큐
  Programmers/이중우선순위큐/이중우선순위큐_박소현.js
Labels: JavaScript, Nomal

#121 #6 solved 붕대 감기
  Programmers/붕대감기/붕대감기_박소현.js
Labels: JavaScript, Easy

#102 #4 solved 바이러스 백신
  CodeTree/바이러스 백신/바이러스 백신_박소현.js
Labels: JavaScript, Hard

#57 #3 solved 수식 최대화
  Programmers/수식최대화/수식최대화_박소현.js
Labels: JavaScript, Nomal

#15 #3 solved 이모티콘 할인행사
  Programmers/이모티콘할인행사/이모티콘할인행사_박소현.js
Labels: JavaScript, Nomal

#38 #7 solved 암호생성기
  SWEA/SWEA_1225_암호생성기.java
Labels: Java, Easy

#138 #3 solved 이모티콘 할인행사
  Programmers/이모티콘할인행사_유지연.java
Labels: Java, Nomal

#183 #2 solved 수식최대화
  Programmers/수식최대화_유지연.java
Labels: Java, Nomal

#150 #7 solved 암호생성기
  SWEA/암호생성기/암호생성기_옥수빈.java
Labels: Java, Easy

#88 #6 solved 붕대감기
  Programmers/붕대감기/붕대감기_옥수빈.java
Labels: Java, Easy

#16 #3 solved 이모티콘할인행사
  Programmers/이모티콘할인행사/이모티콘할인행사_이진곤.java
Labels: Java, Nomal

#46 #4 solved 바이러스 백신
  CodeTree/바이러스백신/바이러스백신_이진곤.java
Labels: Java, Nomal, Hard

#83 #2 solved 수식 최대화
  Programmers/수식최대화/수식최대화_이진곤.java
Labels: Java, Nomal

#113 #5 solved 길찾기
  SWEA/길찾기/길찾기_이진곤.java
Labels: Java, Nomal

#147 #1 solved 이중우선순위큐
  Programmers/이중우선순위큐/이중우선순위큐_이진곤.java
Labels: Java

#181 #6 solved 붕대 감기
  Programmers/붕대감기/붕대감기_이진곤.java
Labels: Java, Easy

#189 #5 solved 길찾기
  SWEA/길찾기/길찾기_유지연.java
Labels: Java, Easy

#28 #1 solved 이중우선순위큐
  Programmers/이중우선순위큐_권도현.java
Labels: Java, Nomal

#144 #7 solved 암호생성기
  SWEA/암호생성기/암호생성기_김종현.java
Labels: Java, Easy

#131 #5 solved 길찾기
  SWEA/길찾기/길찾기_김종현.java
Labels: Java, Nomal

#98 #4 solved 바이러스백신
  CodeTree/바이러스백신/바이러스백신_김종현.java
Labels: Java, Hard

#73 #6 solved 붕대감기
  Programmers/붕대감기/붕대감기_김종현.java
Labels: Java, Easy

#22 #2 solved 수식 최대화
  Programmers/수식 최대화/수식 최대화_김종현.cpp
Labels: C++, Nomal

#17 #4 solved 바이러스 백신
  CodeTree/바이러스백신/바이러스백신_서원호.cpp
Labels: C++, Nomal

#61 #2 solved 수식 최대화
  Programmers/수식최대화/수식최대화_서원호.cpp
Labels: C++, Nomal

#60 #3 solved 이모티콘 할인행사
  Programmers/이모티콘할인행사/이모티콘할인행사_서원호.cpp
Labels: C++, Easy

#82 #1 solved 이중우선순위큐
  Programmers/이중우선순위큐/이중우선순위큐_서원호.cpp
Labels: C++, Nomal

#120 #5 solved 길찾기
  SWEA/길찾기/길찾기_서원호.cpp
Labels: C++, Easy

#151 #7 solved 암호생성기
  Programmers/붕대 감기/붕대감기_박민호.java
  SW Expert Academy/암호생성기/암호생성기_박민호_Math.java
  SW Expert Academy/암호생성기/암호생성기_박민호_Queue.java
Labels: Java, Easy

#78 #7 solved 암호생성기
  SWEA/암호맞추기/암호생성기_이인호.py
Labels: Python, Easy

#119 #3 solved 이모티콘할인행사
  Programmers/이모티콘 할인행사/이모티콘 할인행사_이인호.py
Labels: Python, Nomal

#174 #2 solved 수식 최대화
  .github/Programmers/수식 최대화/수식최대화_이인호.py
Labels: Python, Nomal

#190 #1 solved 이중우선순위큐
  Programmers/이중우선순위큐/이중우선순위큐_이인호.py
Labels: Python, Easy

#195 240719 김요한
  Programmers/수식최대화/수식최대화.py
  Programmers/수식최대화/우선순위큐.py
  Programmers/이모티콘할인행사/이모티콘할인행사.py
  SWEA/암호생성기/암호생성기.py
Labels: Python

#207 #2 solved 수식최대화
  Programmers/수식최대화/수식최대화_이호찬.java
Labels: Java, Nomal, Hard

#124 #2 solved 수식 최대화
  Programmers/수식최대화/수식최대화_이아름.java
Labels: Java, Nomal

#179 #4 solved 바이러스백신
  CodeTree/바이러스백신/바이러스백신_이동우.py
Labels: Python, Nomal

#35 #1 solved 이중우선순위큐
  Programmers/이중우선순위큐/이중우선순위큐_전수민.java
Labels: Java, Nomal

#65 #6 solved 붕대 감기
  Programmers/붕대감기/붕대감기_최효빈.js
  SWEA/암호생성기/암호생성기_최효빈.java
Labels: JavaScript, Nomal

#31 #7 solved 암호생성기
  SWEA/암호생성기/암호생성기_최효빈.java
Labels: Java, Easy

#176 #2 sovled 수식최대화
  Programmers/수식최대화/수식최대화_김동영.py
Labels: Python, Nomal

#143 #3 solved 이모티콘할인행사
  Programmers/이모티콘할인행사/이모티콘할인행사_김동영.py
Labels: Python

#115 #4 solved 바이러스백신
  CodeTree/바이러스백신/바이러스백신_김동영.py
Labels: Python, Nomal

#99 #6 solved 붕대감기
  Programmers/붕대감기/붕대감기_김동영.py
Labels: Python, Easy

#48 #5 solved 길찾기
  SWEA/길찾기/길찾기_김동영.py
Labels: Python, Easy

#26 #7 solved 암호생성기
  SWEA/암호생성기/암호생성기_김동영.py
Labels: Python, Easy

#34 #7 solved 암호생성기
  SWEA/암호생성기/암호생성기_양희제.py
Labels: Python, Easy

#139 #5 solved 길찾기
  SWEA/길찾기/길찾기_멍에.cpp
Labels: C++, Easy

#30 #7 solved 암호생성기
  SWEA/암호생성기/암호생성기_엄소현.py
Labels: Python, Easy

#70 #5 solved 길찾기
  SWEA /길찾기/길찾기_엄소현.py
Labels: Python, Easy

#107 #6 solved 붕대감기
  Programmers /붕대감기/붕대감기_엄소현.py
Labels: Python, Easy

#137 #1 solved 이중우선순위큐
  Programmers/이중우선순위큐/이중우선순위큐_엄소현.py
Labels: Python, Nomal

#170 #2 solved 수식 최대화
  Programmers /수식최대화/수식최대화_엄소현.py
Labels: Python, Nomal

#173 #6 solved 붕대감기
  Programmers/붕대감기/붕대감기_채예은.py
Labels: Python, Easy

#8 [240715] 이모티콘 할인행사
  Programmers/이모티콘할인행사_박소윤.java
Labels: Java, Nomal

#20 #6 solved 붕대감기
  Programmers/붕대감기/붕대감기_현지혜.js
  SWEA/암호생성기/암호생성기_현지혜.py
Labels: JavaScript, Easy

#21 #4 solved 바이러스 백신
  CodeTree/바이러스백신/바이러스백신_곽민규.cpp
Labels: C++, Nomal

#23 #23 solved 바이러스 백신
  CodeTree/바이러스 백신/바이러스 백신_최창환.cpp
Labels: C++, Nomal

#25 #7 solved 암호생성기
  SWEA/길찾기/길찾기_노현석.java
  SWEA/암호생성기/암호생성기_노현석.java
Labels: Java, Easy

#67 #5 solved 길찾기
  SWEA/길찾기/길찾기_노현석.java
  SWEA/암호생성기/암호생성기_노현석.java
Labels: Java, Easy

#29 #6 solved 붕대감기
  Programmers/붕대 감기/붕대감기_차성원.java
Labels: Java

#33 #7 solved 암호생성기
  Programmers/붕대감기/붕대감기_강수민.java
  SWEA/암호생성기/암호생성기_강수민.java
Labels: Java, Easy

#36 #6 solved 붕대감기
  Programmers/붕대감기/붕대감기_김수빈.js
  Programmers/이중우선순위큐/이중우선순위큐_김수빈.js
Labels: JavaScript, Easy

#64 #1 solved 이중우선순위
  Programmers/붕대감기/붕대감기_김수빈.js
  Programmers/이중우선순위큐/이중우선순위큐_김수빈.js
Labels: JavaScript, Nomal

#37 #7 solved 암호생성기
  SWEA/암호생성기/암호생성기_함승찬.java
Labels: Java, Easy

#39 #7 solved 암호생성기
  SWEA/암호생성기/암호생성기_박기현.java
Labels: Java, Easy

#40 #7 solved 암호생성기
  .gitignore
  SWEA/암호생성기/암호생성기_임호빈.cpp
  SWEA/암호생성기/암호생성기_임호빈.exe
Labels: C++, Easy

#43 #6 solved 붕대 감기
  Programmers/붕대감기_박병우.java
Labels: Java, Easy

#62 #1 solved 이중우선순위큐
  Programmers/이중우선순위큐_박병우.java
Labels: Java, Easy

#63 #7 solved 암호생성기
  SWEA/암호생성기/암호생성기_곽민규.java
Labels: C++, Easy

#69 solved 이중우선순위
  Programmers/이중우선순위큐/이중우선순위큐_최창환.cpp
Labels: C++, Nomal, Hard

#76 #5 solved 길찾기
  :Baekjoon/길찾기/길찾기_김현진.java
Labels: Java, Nomal

#89 solved 암호생성기
  SWEA/암호생성기/암호생성기_최창환.cpp
Labels: C++, Easy

#93 #5 solved 길찾기
  SWEA/길찾기/길찾기_강수민.java
Labels: Java, Easy

#188 #3 unsolved 이모티콘할인행사
  Programmers/이모티콘할인행사/이모티콘할인행사_최민준.java
Labels: Java, Hard

#217 #196 solved 광물 캐기
  Programmers/광물 캐기/광물 캐기_이인호.py
Labels: Python, Nomal

#191 #2 #3 #4 sovled 수식 최대화, 바이러스 백신, 이모티콘 할인행사
  Programmers/CodeTree/바이러스백신/바이러스백신_강수민.java
  Programmers/수식최대화/수식최대화_강수민.java
  Programmers/이모티콘할인행사/이모티콘할인행사_강수민.java
Labels: Java, Nomal

#178 #5 solved 길찾기
  SWEA/길찾기_박소윤.java
Labels: Java, Nomal

#96 #7 solved 암호생성기
  SWEA/암호생성기/암호생성기_이아진.java
Labels: Java

#97 #2 solved 수식 최대화
  Programmers/수식최대화_박소윤.java
Labels: Java, Nomal

#109 #2 solved 수식 최대화
  Programmers/수식최대화_박병우.java
Labels: Java, Nomal

#110 #6 solved 붕대감기
  Programmers/붕대감기/붕대감기_노현석.java
Labels: Java, Easy

#125 #3 solved 이모티콘할인행사
  Programmers/이모티콘할인행사/이모티콘할인행서_노현석.java
Labels: Java, Nomal

#127 #1 solved 이중우선순위큐
  Programmers/이중우선순위큐/이중우선순위큐_곽민규.py
Labels: Python, Nomal

#135 #6 solved 붕대감기
  Programmers/붕대감기/붕대감기_이아진.java
Labels: Java

#276 #197 아날로그시계
  Programmers/아날로그 시계/아날로그시계_이인호.py
Labels: Python, Nomal

#159 #7 solved 암호생성기
  SWEA/암호생성기_박소윤.java
Labels: Java, Easy

#163 #1 solved 이중우선순위큐
  .idea/Programmers/이중우선순위큐/이중우선순위큐_강수민.java
Labels: Java, Easy

#164 #1 solved 이중우선순위큐
  programmers/이중우선순위큐/이중우선순위큐_노현석.java
Labels: Java, Nomal

#328 #197 solved 아날로그시계
  Programmers/아날로그시계/아날로그시계_김성훈.java
Labels: Java, Nomal, Hard
