Repository SSAFYnity/Job-Preparation-Challenge-1st, pull requests merged in 2024-08, with the labels that each got.

#218 #198 합승 택시 요금
  .DS_Store
  Programmers/금세현_합승 택시 요금.cpp
Labels: C++, Nomal

#291 #199 부분합
  Baekjoon/부분합/부분합_금세현.cpp
Labels: C++, Nomal

#315 #197 아날로그시계
  Baekjoon/아날로그 시계/아날로그 시계_금세현.java
Labels: Java

#332 #202 LCA 2
  Baekjoon/LCA2/LCA 2_금세현.cpp
Labels: C++, Hard

#393 #352 교점에 별 만들기
  Baekjoon/교점에 별 만들기/교점에 별 만들기.cpp
Labels: C++, Nomal

#415 #354 성냥개비
  Baekjoon/성냥개비/성냥개비_금세현.cpp
Labels: C++, Nomal

#374 #351 문자열 교환
  Baekjoon/문자열 교환/문자열 교환_금세현.cpp
Labels: C++, Easy

#326 #200 N번째큰수
  Baekjoon/N번째큰수/N번째큰수_이인호.py
Labels: Python, Nomal

#348 #199 부분합
  Baekjoon/부분합/부분합_이인호.py
Labels: Python, Nomal

#361 #352 교점에별만들기
  Programmers/교점에별만들기/교점에별만들기_이인호.py
Labels: Python, Nomal

#390 #351 문자열교환
  Baekjoon/문자열교환/문자열교환_이인호.py
Labels: Python, Easy

#411 #354 성냥개비
  Baekjoon/성냥개비/성냥개비_이인호.py
Labels: Python, Nomal

#231 unsolved 광물캐기 - 2.45ms, 73.4mb
  Programmers/광물캐기_전수민.java
Labels: Java, Hard

#247 [FEAT] N번째 큰수 - 804ms, 218832kb
  Baekjoon/N번째큰수_전수민.java
Labels: Java, Easy

#277 solved 부분합- 288ms,24512kb
  Baekjoon/부분합_전수민.java
Labels: Java, Easy

#369 solved 문자열교환-124ms 14256kb
  Baekjoon/문자열교환/문자열교환_전수민.java
Labels: Java, Hard

#215 #200 N번째 큰 수
  Baekjoon/N번째 큰 수/N번째큰수_박소현.js
Labels: JavaScript, Nomal

#249 #199 부분합
  Baekjoon/부분합/부분합_박소현.js
Labels: JavaScript, Nomal

#279 #198 합승택시
  Programmers/합승택시요금/합승택시요금_박소현.js
Labels: JavaScript, Nomal

#307 #197 아날로그시계
  .gitignore
  Programmers/아날로그시계/아날로그시계_박소현.js
Labels: JavaScript, Nomal

#327 #196 광물캐기
  Programmers/광물캐기/광물캐기_박소현.js
Labels: JavaScript, Easy

#367 #352 교점에별만들기
  Programmers/교점에별만들기/교점에별만들기_박소현.js
Labels: JavaScript, Nomal

#403 #351 문자열교환
  Baekjoon/문자열교환/문자열교환_박소현.js
Labels: JavaScript, Easy

#426 #354 성냥개비
  Baekjoon/성냥개비/성냥개비_박소현.js
Labels: JavaScript, Hard

#441 #353 매칭점수
  Programmers/매칭점수/매칭점수_박소현.js
Labels: JavaScript, Hard

#454 #355 공이동시뮬레이션
  Programmers/공이동시뮬레이션/공이동시뮬레이션_박소현.js
Labels: JavaScript, Hard

#209 #199 부분합
  Baekjoon/부분합/부분합_이동우.py
Labels: Python, Nomal

#242 #201 산타의선물공장2
  CodeTree/산타의선물공장2/산타의선물공장2_이동우.py
Labels: Python, Hard

#268 #200 N번째큰수
  Baekjoon/N번째큰수/N번째큰수_이동우.py
Labels: Python, Easy

#298 #198 합승택시
  Programmers/합승택시/합승택시_이동우.py
Labels: Python, Nomal

#319 #202 LCA2
  Baekjoon/LCA2/LCA2_이동우.py
Labels: Python, Hard

#359 #356 횡단보도
  Baekjoon/횡단보도/횡단보도_이동우.py
Labels: Python, Nomal

#400 #354 성냥개비
  Baekjoon/성냥개비/성냥개비_이동우.py
Labels: Python, Nomal

#414 #351 문자열교환
  Baekjoon/문자열교환/문자열교환_이동우.py
Labels: Python, Easy

#449 #357 냉방시스템
  CodeTree/냉방시스템/냉방시스템_이동우.py
Labels: Python, Hard

#474 #464 k진수에서소수개수구하기
  Programmers/k진수에서소수개수구하기/k진수에서소수개수구하기_김요한.py
Labels: Python, Easy

#471 #468 단지번호붙이기
  Baekjoon/단지번호붙이기/서민주_단지번호붙이기.java
Labels: Java, Easy

#387 #351 문자열교환
  Baekjoon/문자열교환/문자열교환_김수빈.py
Labels: Python, Nomal

#222 #199 부분합
  Baekjoon/부분합/부분합_손효민.java
Labels: Java, Nomal

#245 #202 solved LCA2
  Baekjoon/LCA2/LCA2_손효민.java
Labels: Java, Hard

#272 #200 solved N번째큰수
  Baekjoon/N번째큰수/N번째큰수_손효민.java
Labels: Java, Easy

#302 #198 합승택시요금
  Programmers/합승택시요금/합승택시요금_손효민.java
Labels: Java, Nomal

#322 #196 광물캐기
  Programmers/광물캐기/광물캐기_손효민.java
Labels: Java, Nomal

#395 #351 문자열교환
  Baekjoon/문자열교환/문자열교환_손효민.java
Labels: Java, Easy

#421 #354 성냥개비
  Baekjoon/성냥개비/성냥개비_손효민.java
Labels: Java, Hard

#444 #353 매칭점수
  Programmers/매칭점수/매칭점수_손효민.java
Labels: Java, Hard

#377 #356 이재민 횡단보도
  Baekjoon/횡단보도/이재민_횡단보도.py
Labels: Python, Nomal

#417 #351 문자열교환
  Baekjoon/문자열교환/문자열교환_이재민.py
Labels: Python, Nomal

#463 #352 교점에별만들기
  Programmers/교점에별만들기/교점에별만들기_김성훈.java
Labels: Java, Nomal

#461 #357 냉방 시스템
  CodeTree/냉방시스템/냉방시스템_김성훈.java
Labels: Java, Hard

#446 #355 공이동시뮬레이션
  Programmers/공이동시뮬레이션/공이동시뮬레이션_김성훈.java
Labels: Java, Hard

#419 #356 횡단보도
  Baekjoon/횡단보도/횡단보도_김성훈.java
Labels: Java, Nomal

#407 #354 성냥개비
  Baekjoon/성냥개비/성냥개비_김성훈.java
Labels: Java, Hard

#365 #351 문자열교환
  Baekjoon/문자열교환/문자열교환_김성훈.java
Labels: Java, Hard

#343 #202 LCA2
  Baekjoon/LCA2/LCA2_김성훈.java
Labels: Java, Hard

#338 #201 산타의선물공장2
  CodeTree/산타의선물공장2/산타의선물공장2_김성훈.java
Labels: Java, Hard

#310 #196 solved 광물캐기
  Programmers/광물캐기/광물캐기_김성훈.java
Labels: Java, Nomal

#281 #200 N번째큰수
  Baekjoon/N번째큰수/N번째큰수_김성훈.java
Labels: Java, Nomal

#264 #198 합승택시
  Programmers/합승택시요금/합승택시요금_김성훈.java
Labels: Java, Hard

#229 #196 solved 광물캐기
  Programmers/광물캐기/광물캐기_강민정.java
Labels: Java, Easy

#252 #197 아날로그시계
  Programmers/아날로그시계/아날로그시계_강민정.java
Labels: Java, Easy

#489 #466 지름길
  Baekjoon/지름길/지름길_이재민.py
Labels: Python, Nomal

#401 #352 교점에 별 만들기
  Programmers/교점에별만들기/교점에별만들기_채예은.py
Labels: Python, Nomal

#210 #200 N번째큰수
  Baekjoon/N번째큰수/N번째큰수_최민준.java
Labels: Java, Easy

#271 solved 부분합 - 208ms 22220kb
  Baekjoon/부분합_최민준.java
Labels: Java, Nomal

#295 #197 아날로그시계
  Programmers/아날로그시계/아날로그시계_최민준.java
Labels: Java, Hard

#478 #464 k진수에서소수개수구하기
  Programmers/k진수에서소수개수구하기/k진수에서소수개수구하기_이아진.java
Labels: Java, Nomal

#521 solved 뉴스클러스터 - 30.35ms, 82.9MB
  Programmers/뉴스클러스터/뉴스클러스터_이아진.java
Labels: Java, Easy

#526 #468 단지번호붙이기
  Baekjoon/단지번호붙이기/여동훈_단지번호붙이기.cpp
Labels: C++, Easy

#280 #198 합승택시요금
  Programmers/합승택시요금/강민정_합승택시요금.java
Labels: Java, Nomal

#308 #199 부분합
  Baekjoon/부분합/부분합_강민정.java
Labels: Java, Easy

#336 #200 N번째큰수
  Baekjoon/N번째큰수/N번째큰수_강민정.java
Labels: Java, Easy

#386 #353 매칭점수
  Programmers/매칭점수/매칭점수_강민정.java
Labels: Java, Nomal

#397 #351 문자열교환
  Baekjoon/문자열교환/문자열교환_강민정.java
Labels: Java, Easy

#425 #352 교점에별만들기
  Programmers/교점에별만들기/교점에별만들기_강민정.java
Labels: Java, Easy

#439 #355 공이동시뮬레이션
  Programmers/공이동시뮬레이션/공이동시뮬레이션_강민정.java
Labels: Java, Hard

#456 #354 성냥개비
  Baekjoon/성냥개비/성냥개비_강민정.java
Labels: Java, Nomal

#531 #465 뉴스클러스터
  Programmers/뉴스클러스터/뉴스클러스터_이재민.py
Labels: Python, Easy

#402 #357 냉방시스템
  CodeTree/냉방시스템/냉방시스템_이재민.py
Labels: Python, Hard

#205 #200 N번째큰수
  Baekjoon/N번째큰수/N번째큰수_최지수.java
Labels: Java, Easy

#241 #196 광물캐기
  Programmers/광물캐기/광물캐기_최지수.java
Labels: Java, Nomal

#269 #199 부분합
  Baekjoon/부분합/부분합_최지수.java
Labels: Java, Easy

#299 #198 합승택시요금
  Programmers/합승택시요금/합승택시요금_최지수.java
Labels: Java, Easy

#330 #201 산타의선물공장2
  CodeTree/산타의선물공장2/산타의선물공장2_최지수.java
Labels: Java, Nomal

#366 #353 매칭점수
  Programmers/매칭점수/매칭점수_최지수.java
Labels: Java, Nomal

#394 #352 교점에별만들기
  Programmers/교점에별만들기/교점에별만들기_최지수.java
Labels: Java

#451 #354 성냥개비
  Baekjoon/성냥개비/성냥개비_최지수.java
Labels: Java, Nomal

#582 #352 교점에별만들기
  Programmers/교점에별만들기/교점에별만들기_이동우.py
Labels: Python, Nomal

#480 #466 지름길
  Baekjoon/지름길/지름길_김성훈.java
Labels: Java, Nomal

#515 #467 촌수계산
  Baekjoon/촌수계산/촌수계산_김성훈.java
Labels: Java, Easy

#518 #469 수레움직이기
  Programmers/수레움직이기/수레움직이기_김성훈.java
Labels: Java, Nomal, Hard

#581 #468 단지번호붙이기
  Baekjoon/단지번호붙이기/김성훈_단지번호붙이기.java
Labels: Java, Easy

#226 #196 solved 광물캐기
  Programmers/광물캐기/광물캐기_강수민.java
Labels: Java, Easy

#263 #197 아날로그시계
  Programmers/아날로그시계/아날로그시계_강수민.java
Labels: Java, Hard

#288 #199 부분합
  Backjoon/부분합/부분합_강수민.java
Labels: Java, Easy

#305 #198 합승택시
  Programmers/합승택시/합승택시_강수민.java
Labels: Java, Hard

#334 #200 N번째큰수
  Baekjoon/N번째큰수/N번째큰수_강수민.java
Labels: Java, Easy

#576 #470 Sam의피자학교
  CodeTree/Sam의피자학교/Sam의피자학교_강수민.java
Labels: Java, Hard

#573 #464 k진수에서소수개수구하기
  Programmers/k진수에서소수개수구하기/k진수에서소수개수구하기_이동우.py
Labels: Python, Nomal

#572 #465 뉴스클러스터
  Programmers/뉴스클러스터/뉴스클러스터_이동우.py
Labels: Python, Nomal

#553 #466 지름길
  Baekjoon/지름길/지름길_이동우.py
Labels: Python, Easy

#535 #467 촌수계산
  Baekjoon/촌수계산/촌수계산_이동우.py
Labels: Python, Easy

#494 #468 단지번호붙이기
  Baekjoon/단지번호붙이기/이동우_단지번호붙이기.py
Labels: Python, Easy

#476 #469 수레움직이기
  Programmers/수레움직이기/수레움직이기_이동우.py
Labels: Python, Nomal

#570 #470 Sam의피자학교
  CodeTree/Sam의피자학교/Sam의피자학교_이동우.py
Labels: Python, Hard

#606 #1 이중우선순위큐
  Programmers/이중우선순위큐/이중우선순위큐_이동우.py
Labels: Python, Nomal

#477 #467 촌수계산
  Baekjoon/촌수계산/촌수계산_박소현.js
Labels: JavaScript, Easy

#512 #478 단지번호붙이기
  Baekjoon/단지번호붙이기/단지번호붙이기_박소현.js
Labels: JavaScript, Easy

#543 #464 k진수에서소수개수구하기
  Programmers/k진수에서소수개수구하기/k진수에서소수개수구하기.js
Labels: JavaScript, Easy

#560 #465 뉴스클러스터
  Programmers/뉴스클러스터/뉴스클러스터_박소현.js
Labels: JavaScript, Nomal

#578 #466 지름길
  Baekjoon/지름길/지름길_박소현.js
Labels: JavaScript, Nomal

#488 #465 뉴스클러스터링
  Programmers/뉴스클러스터/뉴스클러스터링_이인호.py
Labels: Python, Easy

#511 #464 k진수에서소수개수구하기
  Programmers/k진수에서소수개수구하기/k진수에서소수개수구하기_이인호.py
Labels: Python, Nomal

#533 #466 지름길
  Baekjoon/지름길/지름길_이인호.py
Labels: Python, Nomal

#561 #466 촌수계산
  Baekjoon/촌수계산/촌수계산_이인호.py
Labels: Python, Nomal

#577 #468 단지번호붙이기
  Baekjoon/단지번호붙이기/단지번호붙이기_이인호.py
Labels: Python, Nomal

#607 #589 야근지수
  Programmers/야근지수/야근지수_이인호.py
Labels: Python, Nomal

#516 #464 k진수에서소수개수구하기
  Programmers/k진수에서소수개수구하기/k진수에서소수개수구하기_최민준.java
Labels: Java, Nomal

#499 #468 단지번호붙이기
  Baekjoon/단지번호붙이기/단지번호붙이기_손효민.java
Labels: Java, Nomal

#534 #467 촌수계산
  Baekjoon/촌수계산/촌수계산_손효민.java
Labels: Java, Easy

#583 #466 지름길
  Baekjoon/지름길/지름길_손효민.java
Labels: Java, Nomal

#487 #464 k진수에서소수개수구하기
  Baekjoon/k진수에서소수개수구하기/k진수에서소수개수구하기_강민정.java
Labels: Java, Easy

#509 #465 뉴스클러스터링
  Programmers/뉴스클러스터링/뉴스클러스터링_강민정.java
Labels: Java, Easy

#527 #466 지름길
  Baekjoon/지름길/지름길_강민정.java
Labels: Java, Easy

#551 #467 촌수계산
  Baekjoon/촌수계산/촌수계산_강민정.java
Labels: Java, Easy

#483 #463 k진수에서소수개수구하기
  Programmers/k진수에서소수개수구하기/k진수에서소수개수구하기_김수빈.js
Labels: JavaScript, Easy

#669 solved 팰린드롬애너그램 - 168ms 17900KB
  Baekjoon/팰린드롬애너그램/팰린드롬애너그램_이아진.java
Labels: Java, Easy

#555 #467 촌수계산
  Baekjoon/촌수계산/촌수계산_전수민.java
Labels: Java, Easy

#517 #464 k진수에서_소수_개수_구하기
  Programmers/k진수에서소수개수구하기/k진수에서소수개수구하기_전수민.java
Labels: Java, Nomal

#528 #467 촌수계산
  Baekjoon/촌수계산/여동훈_촌수계산.cpp
Labels: C++, Easy

#612 #588 팰린드롬애너그램
  Baekjoon/팰린드롬애너그램/팰린드롬애너그램_강민정.java
Labels: Java, Easy

#380 #351 문자열교환
  Baekjoon/문자열교환/문자열교환_강수민.java
Labels: Java, Nomal

#408 #352 교점에별만들기
  Programmers/교점에별만들기/교점에별만들기_강수민.java
Labels: Java, Hard

#438 #356 횡단보도
  Baekjoon/횡단보도/횡단보도_강수민.java
Labels: Java, Hard

#455 #355 공이동시뮬레이션
  Programmers/공이동시뮬레이션/공이동시뮬레이션_강수민.java
Labels: Java, Hard

#490 #464 k진수에서소수개수구하기
  Programmers/k진수에서소수개수구하기/k진수에서소수개수구하기_강수민.java
Labels: Java, Easy

#505 #468 단지번호붙이기
  Baekjoon/단지번호붙이기/단지번호붙이기_강수민.java
Labels: Java, Easy

#539 # 465 뉴스클러스터링
  Programmers/뉴스클러스터/뉴스클러스터링_강수민.java
Labels: Java, Easy

#564 #466 지름길
  Baekjoon/지름길/지름길_강수민.java
Labels: Java, Easy

#632 #589 야근지수
  Programmers/야근지수/야근지수_강수민.java
Labels: Java, Easy

#653 #590 겹치는건싫어
  Programmers/겹치는건싫어/겹치는건싫어_강수민.java
Labels: Java, Nomal

#658 #594 고고학최고의발견
  Programmers/고고학최고의발견/고고학최고의발견_강수민.java
Labels: Java, Hard

#680 #591 1,2,3더하기4
  Baekjoon/1,2,3더하기4/1,2,3더하기4_강수민.java
Labels: Java, Nomal

#685 #590 겹치는 건 싫어
  Baekjoon/겹치는건싫어/여동훈_겹치는건싫어.cpp
Labels: C++, Nomal

#639 #588 팰린드롬애너그램
  Baekjoon/팰린드롬애너그램/팰린드롬애너그램_이동우.py
Labels: Python, Easy

#623 #589 야근지수
  Programmers/야근지수/야근지수_이동우.py
Labels: Python, Easy

#668 #591 1,2,3더하기4
  Baekjoon/1,2,3더하기4/1,2,3더하기4_이동우.py
Labels: Python, Nomal

#601 #594 고고학최고의발견
  Programmers/고고학최고의발견/고고학최고의발견_이동우.py
Labels: Python, Hard

#640 #589 야근 지수
  Programmers/야근지수/야근지수_김수빈.js
Labels: JavaScript, Nomal

#595 #588 팰린드롬애너그램
  Baekjoon/팰린드롬애너그램/팰린드롬애너그램_김성훈.java
Labels: Java, Easy
