Repository SSAFYnity/Job-Preparation-Challenge-1st, pull requests merged in 2024-09, with the labels that each got.

#841 #792 돌 게임
  Baekjoon/돌게임/돌게임_박소윤.java
Labels: Java, Easy

#862 #795 1,2,3 더하기 3
  Baekjoon/1,2,3,더하기3/1,2,3더하기3_박소윤.java
Labels: Java, Easy

#871 #791 가장 많이 받은 선물
  Programmers/가장많이받은선물/가장많이받은선물_박소윤.java
Labels: Java, Easy

#879 #794 영단어 암기는 괴로워
  Baekjoon/영단어암기는괴로워/영단어암기는괴로워_박소윤.java
Labels: Java, Easy

#882 #793 도넛과 막대 그래프
  Programmers/도넛과막대그래프/도넛과막대그래프_박소윤.java
Labels: Java, Nomal

#865 #791 가장많이받은선물
  Programmers/가장많이받은선물/가장많이받은선물_이동우.py
Labels: Python, Easy

#864 #792 돌게임
  Baekjoon/돌게임/돌게임_이동우.py
Labels: Python, Easy

#863 #793 도넛과막대그래프
  Programmers/도넛과막대그래프/도넛과막대그래프_이동우.py
Labels: Python, Nomal

#833 #794 영단어암기는괴로워
  Baekjoon/영단어암기는괴로워/영단어암기는괴로워_이동우.py
Labels: Python, Easy

#854 #795 1,2,3더하기3
  Baekjoon/1,2,3더하기3/1,2,3더하기3_이동우.py
Labels: Python, Easy

#814 #796 주사위고르기
  Programmers/주사위고르기/주사위고르기_이동우.py
Labels: Python, Nomal

#802 #797 루돌프의반란
  CodeTree/루돌프의반란/루돌프의반란_이동우.py
Labels: Python, Hard

#212 #200 N번째 큰 수
  Baekjoon/N번째큰수_이진곤.java
Labels: Java, Easy

#240 #202 LCA 2
  Baekjoon/LCA2_이진곤.java
Labels: Java

#270 #198 합승택시
  Programmers/합승택시_이진곤.java
Labels: Java, Easy

#321 #196 광물 캐기
  Programmers/광물캐기_이진곤.java
Labels: Java, Easy

#360 #354 성냥개비
  Baekjoon/성냥개비_이진곤.java
Labels: Java, Easy

#398 #356 횡단보도
  Baekjoon/횡단보도_이진곤.java
Labels: Java, Nomal

#418 #355 공 이동 시뮬레이션
  Programmers/공이동시뮬레이션_이진곤.java
Labels: Java, Hard

#434 #351 문자열 교환
  Baekjoon/문자열교환_이진곤.java
Labels: Java, Easy

#450 #357 냉방 시스템
  냉방시스템_이진곤.java
Labels: Java, Nomal

#475 #468 단지번호붙이기
  Baekjoon/단지번호붙이기_이진곤.java
Labels: Java, Easy

#496 #469 수레 움직이기
  Programmers/수레움직이기_이진곤.java
Labels: Java, Nomal

#524 #465 뉴스 클러스터
  Programmers/뉴스클러스터_이진곤.java
Labels: Java, Easy

#554 #467 촌수계산
  Baekjoon/촌수계산_이진곤.java
Labels: Java, Easy

#574 #464 k진수에서 소수 개수 구하기
  Programmers/k진수에서소수개수구하기_이진곤.java
Labels: Java

#600 #590 겹치는 건 싫어
  Baekjoon/겹치는건싫어_이진곤.java
Labels: Java, Easy

#617 #591 1, 2, 3 더하기 4
  Baekjoon/1,2,3더하기4_이진곤.java
Labels: Java, Nomal

#638 #589 야근 지수
  Programmers/야근지수_이진곤.java
Labels: Java, Nomal

#670 #588 팰린드롬 애너그램
  Baekjoon/팰린드롬애너그램_이진곤.java
Labels: Java

#700 #691 표 병합
  Programmers/표병합_이진곤.java
Labels: Java, Nomal

#718 #693 수영장 만들기
  Baekjoon/수영장만들기_이진곤.java
Labels: Java, Hard

#750 #689 아기 상어
  Baekjoon/아기상어_이진곤.java
Labels: Java, Nomal

#780 #687 퇴사
  Baekjoon/퇴사_이진곤.java
Labels: Java

#804 #792 돌게임
  Baekjoon/돌게임/돌게임_손효민.java
Labels: Java, Easy

#836 #796 주사위고르기
  Programmers/주사위고르기/주사위고르기_손효민.java
Labels: Java, Hard

#853 #794 영단어암기는괴로워
  Baekjoon/영단어암기는괴로워/영단어암기는괴로워_손효민.java
Labels: Java, Nomal

#872 #793 도넛과막대그래프
  Programmers/도넛과막대그래프/도넛과막대그래프_손효민.java
Labels: Java, Hard

#819 #795 123더하기3
  Baekjoon/1,2,3더하기3/1,2,3더하기3_손효민.java
Labels: Java, Nomal

#811 #791 가장많이받은선물
  Programmers/가장많이받은선물/가장많이받은선물_강민정.java
Labels: Java, Nomal

#820 #792 돌게임
  Baekjoon/돌게임/돌게임_강민정.java
Labels: Java, Easy

#840 #793 도넛과막대그래프
  Programmers/도넛과막대그래프/도넛과막대그래프_강민정.java
Labels: Java, Nomal

#866 #795 1,2,3더하기3
  Baekjoon/1,2,3더하기3/1,2,3더하기3_강민정.java
Labels: Java, Easy

#881 #796 주사위고르기
  Programmers/주사위고르기/주사위고르기_강민정.java
Labels: Java, Nomal
